$white: #ffffff;
$black: #000000;
$black2: #080808;
$red: #d0021b;
$green: blue;
$yellow: crimson;
$yellow2: #FFD300;
$cyan: #2283a3;
$blue: #1e81cb;
$blue2: #dfeaf2;
$blue3: #f2f6f9;
$blue4: darkblue;
$dark-blue: #101c36;
$dark-blue2: #212C44;
$grey: #8C8C8C;
$grey2: #5b5d5d;
$silver: #e2e2e2;
$pink: #cf5fbd;
$orange: orange;
